<% include public/views/header.ejs %>

<div id="tipTop">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x black">
            <div class="small-12 cell text-center">
                <h5><strong>Nub's Nob Ski Patrol Sign-In - 2019</strong></h5>
                <!--<h5><strong>Second Hour Quiz #5</strong></h5>-->
            </div>
        </div>
    </div>
</div>
<form id="rosterForm" action="javascript:0">
<div id="topMast">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x" id="topMastFill">
            <div class="small-5 cell"><input type="submit" id='formSubmit' value="PRINT ROSTER" class="button large expanded border"></div>
            <div class="small-1 cell"><img src="public/images/nsp_logo.png" alt="NSP Logo" id="nspLogo" width="80" height="100" class="glow"></div>
            <!--<div class="small-2 cell text-center"><img src="public/images/warn.png" alt="NSP Logo" id="nspLogo" width="80" height="100" class="glow"></div>-->
            <div class="cell small-2 text-center"><h5 class="vertical-center" id="date"></h5></div>
            <div class="cell small-2 text-center"><h5 class="vertical-center" id="weekDay"></h5></div>
            <div class="cell small-2 text-center"><h5 class="vertical-center" id="dayNight"></h5></div>
        </div>
    </div>
</div>
<div class="grid-container fluid" id="masterDiv">
    <!--<form id="rosterForm" action="javascript:0">-->
        <fieldset id="team.0">
            <div class="grid-x" id="team_0">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On" id="joinTeam.0"></div>
            </div>
        </fieldset>
        <fieldset id="team.1">
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On - Team 1" id="joinTeam.1"></div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team.2">
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On - Team 2" id="joinTeam.2"></div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team.3">
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On - Team 3" id="joinTeam.3"></div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team.4">
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On - Team 4" id="joinTeam.4"></div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team.5">
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="warning button expanded btn" value="Sign On - Auxiliary/Candidates " id="joinTeam.5"></div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team.6">
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="alert button expanded btn" value="Sign On - Leadership/Trainers" id="joinTeam.6"></div>
            </div>
        </fieldset>
</div>
</form>
<!-- SCRIPTS -->
<script src="public/javascripts/main.js" type="module"></script>

<% include public/views/footer.ejs %>