<div id="narniaTop">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x" id="topMastFill">
            <div class="small-5 cell"><input type="submit" id='formReturn' value="Return to Form" class="button large expanded border" title="Return to sign in form"></div>
            <div class="small-2 cell text-center"><img src="public/images/nsp_logo.png" alt="NSP Logo" id="narniaNspLogo" width="80" height="100" class="glow"></div>
            <div class="cell small-1 text-right"><h5 class="vertical-center" id="narniaDate"></h5></div>
            <div class="cell small-2 text-center"><h5 class="vertical-center" id="narniaWeekDay"></h5></div>
            <div class="cell small-2 text-left"><h5 class="vertical-center" id="narniaDayNight"></h5></div>
        </div>
    </div>
</div>