<%- include ('public/views/header'); -%>

<div id="tipTop">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x black">
            <div class="small-12 cell text-center">
                <h5><strong>Nub's Nob Ski Patrol Sign-In - 2021/2022</strong></h5>
            </div>
        </div>
    </div>
</div>
<form id="rosterForm" action="javascript:0">
    <div id="topMast">
        <div class="grid-container fluid">
            <div class="grid-x grid-padding-x" id="topMastFill">
                <div class="cell small-1 text-center" id="weekendOverrideDiv">
                    <label for="weekendOverride" id="weekendOverrideLabel">Weekend</label>
                    <input type="checkbox" id="weekendOverride" title="Only available on non-weekend days">
                    <p id="weekendOverrideP">Override</p>
                </div>
                <div class="small-3 cell"><input type="submit" id='formSubmit' value="PRINT ROSTER" class="button large expanded border" title="Only lights up when proper conditions are met"></div>
                <div class="small-1 cell"><span id="fixButton" class="button large expanded alert border" title="Use to clear cache & fix app. LEADERSHIP ONLY!">! FIX !</span></div>
                <div class="small-2 cell text-center"><img src="public/images/nsp_logo.png" alt="NSP Logo" id="nspLogo" width="80" height="100" class="glow"></div>
                <!--<div class="small-2 cell text-center"><img src="public/images/warn.png" alt="NSP Logo" id="nspLogo" width="80" height="100" class="glow"></div>-->
                <div class="cell small-1 text-right"><h5 class="vertical-center" id="date"></h5></div>
                <div class="cell small-2 text-center"><h5 class="vertical-center" id="weekDay"></h5></div>
                <div class="cell small-2 text-left"><h5 class="vertical-center" id="dayNight"></h5></div>
            </div>
        </div>
    </div>
    <div class="grid-container fluid" id="masterDiv">
        <fieldset id="team.0">
            <div class="grid-x" id="team_0">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Click Here to Sign In" id="joinTeam.0"></div>
            </div>
        </fieldset>
        <fieldset id="team.1">
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On - Team 1 [ Check snowmobile for gas & oil; close Pintail, JB Arena (race & glade); Check in radios & patrollers @ end of day ]" id="joinTeam.1"></div>
            </div>
        </fieldset>
        <fieldset id="team.2">
            <hr>
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On - Team 2 [ Lunch tickets; 4:10 - close orange lift; 4:30 - close red & yellow lifts; Sweep SnoPro & PowerLine glade, do ropes ]" id="joinTeam.2"></div>
            </div>
        </fieldset>
        <fieldset id="team.3">
            <hr>
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On - Team 3 [ 3:40 - close Tower Glades & Duck Soup; 4:10 - close orange lift; 4:30 - close green lift; put snowmobile away ]" id="joinTeam.3"></div>
            </div>
        </fieldset>
        <fieldset id="team.4">
            <hr>
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="success button expanded btn" value="Sign On - Team 4 [ Clean bathroom anytime during day; 4:30 - close blue lift; vacuum patrol room after shift ]" id="joinTeam.4"></div>
            </div>
        </fieldset>
        <fieldset id="team.5">
            <hr>
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="warning button expanded btn" value="Sign On - Auxiliary/Candidates/Alumni " id="joinTeam.5"></div>
            </div>
        </fieldset>
        <fieldset id="team.6">
            <hr>
            <div class="grid-x">
                <div class="cell small-12"><input type="button" class="alert button expanded btn" value="Sign On - Leadership/Trainers" id="joinTeam.6"></div>
            </div>
        </fieldset>
    </div>
</form>
<div id="narniaDiv">
    <%- include ('public/views/narnia'); -%>
</div>

<%- include ('public/views/no_print'); -%>

<!-- SCRIPTS -->
<script src="src/javascripts/main.js" type="module"></script>

<%- include ('public/views/footer'); -%>